.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: scroll;
  font-size: 12px;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
.purchase-body {
  font-size: 11px;
}
/* .main-container {
    width: 1600px;
  }
  .content {
    width: 1600px;
  } */
.main-container-purchase {
  font-size: 8px;
}
.main-container-summid {
  font-size: 8px;
}

